@model Admin.Models.Faculty

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-image: url("/images/pic3.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Highest_Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Highest_Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearofExperiance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearofExperiance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street_Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Faculty_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index3">Back to List</a>
    </form>
</div>
